{% extends 'base.html' %}
{% load poll_extras %}

{% block header %}
{% endblock header%}

{% block content %}
<div class="container">
    <form action="" method="get" class="mb-5">
        <input type="month" name="yearmonth" value="{{ request.GET.yearmonth }}" min="2021-07">
        <button type="submit">表示</button>
    </form>

    <table class="table table-bordered ">
        <tr>
            <th>日付</th>
            <th>開始</th>
            <th>終了</th>
            <th>時間</th>
            <th>内容</th>
            <th>終了</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
        <tbody>
            {% for item in object_list %}
            <tr class=" table-{{item.item}}">
                <td>{{item.starttime| date:"m/d(D)"}}</td>
                <td>{{item.starttime| date:"H:i"}}</td>
                <td>{{item.endtime|date:"H:i"}}</td>
                <td> {{item.duration|rm_second}}</td>
                <td>{{item.get_item_display}}</td>
                {% if item.isactive == True %}
                <td><a href="{% url 'end' item.pk%}" class=" btn btn-danger" tabindex="-1" role="button"
                        aria-disabled="true">終了</a></td>
                {% else %}
                <td>-</td>
                {%endif%}
                <td><a href="{% url 'update' item.pk%}" class=" btn btn-link" tabindex="-1" role="button"
                        aria-disabled="true">編集</a></td>
                <td><a href="{% url 'delete' item.pk%}" class="btn btn-link " tabindex="-1" role="button"
                        aria-disabled="true">削除</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create' %}" class="btn btn-primary mb-2" tabindex="-1" role="button" aria-disabled="true">手動で追加</a>

</div>


{% endblock content%}